body {
	font-family: 'Krub', sans-serif;
	color: purple;
}

h1 {
	text-align: center;
}

.container {
	display: flex;
	justify-content: space-around;
	height: 30em;
}

.panel {
	display: flex;
	flex-direction: column;
	background-color: lavender;
	padding: 20px;
}

.random-img {
	display: flex;
	flex-direction: column;
	margin: 50px;
}

.places-to-go {
	text-align: center;
}

img {
	height: 10em;
	width: 10em;
}

.new-form {
	text-align: center;
}