<a href="/" style="margin-left: 48%;">Home</a> 
<h1>My next must see place is...</h1>

<form class="new-form" action="/" method="post">
	<label for="">city</label>
	<input name="city" type="text">

	<label for="">image url</label>
	<input name="image_url" type="text">

	<label for="">description</label>
	<input name="description" type="text">

	<button style="margin-left: 1.5em;">Let's go!</button>
</form>