<a href="/" style="margin-left: 48%;">Home</a>
<form action="/to-go">
	<section class='places-to-go' style="margin: 50px;">
		<h2>Wishful list</h2>
		<ul>
			<li style="display: none;"></li>
		</ul>
		<button class="btn-edit-to-go">edit</button>
	</section>
</form> 

<form class="to-go-new-form" style="display: none;" action="/" method="post">
	<label for="">city</label>
	<input name="city" type="text">
	<button style="margin-left: 1.5em;">Add</button>
</form>