@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

body {
  display: flex;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 2em;
  color: white;
  background: rgb(33, 121, 121);
}



