body {
	font-family:'Krub', sans-serif;
	background-color: var(--bg, white);
	color: var(--bg-text, purple);
}

h1 {
	text-align: center;
}

.container {
	display: flex;
	justify-content: space-around;
	height: 30em;
}

.panel {
	display: flex;
	flex-direction: column;
	background-color: lavender;
	padding: 25px;
}

.random-img {
	width: 50%;
	display: flex;
  	flex-wrap: wrap;
}

.random-img > img {
	margin: 5px;
}

/*.places-to-go {
	text-align: space-around;
}*/

.theme {
	margin-top: 130px;
}

a {
	text-decoration: none;
}

button {
	border-radius: 5px;
	height: 2.5em;
	text-decoration: none;
    cursor: pointer;
    font-size: 12px;
}

.misty-rose {
	background-color: mistyrose;
	opacity: 0.7;
	transition: 0.3s;
}

.misty-rose:hover {opacity: 1}

.sealife {
	background-color: lightblue;
	opacity: 0.7;
	transition: 0.3s;
}

.sealife:hover {opacity: 1}

img {
	height: 10em;
	width: 10em;
}

.new-form {
	text-align: center;
}

.memoir-container {
	display: flex;
	justify-content: space-around;
}

.places-been {
	display: flex;
	flex-direction: column;
	margin: 50px;
}

/*form {
	display: flex;
	flex-direction: column;
	width: 20em;
}*/