<a href="/about">about</a>
<h1>Enter your world of movies</h1>
<p>Title of the movie you're looking for is: </p>

<!-- default is get -->
<form action="/movies">
	<textarea name="info" id="" cols="30" rows="2"></textarea>
	<button>Search</button>
</form>