<a href="/">home</a><span> | </span>
<a href="/history">searched movies</a>
<h3>Select one:</h3>
<ul style="list-style-type: none; ">
	<% @result["Search"].each do |trilogy| %>
	<li><a href="/<% @movie %>"><%= trilogy["Title"] %></a></li>
	<% end %>
</ul>
		