<h1>Travel Diary ✈️</h1>

<main class='container'>
	<aside class="panel">
		<form action="/to-go">
			<p><a href="/city/new">New post</a></p>
			<p><a href="/city">Places I've been</a></p>
			<ul>
				<li><a href="/:city"></a></li>
			</ul>
			<p><a href="/city/to-go">Places to go</a></p>
		</form>
	</aside>
	<div class='random-img'>
		<img src="">
	</div>

	<button class="misty-rose">Misty Rose</button>
</main>