<h1>my next must see place is...</h1>

<form action="/cities" method="post">
	<label for="">city</label>
	<input name="city" type="text">

	<label for="">image url</label>
	<input name="image_url" type="text">

	<label for="">description</label>
	<input name="description" type="text">

	<button>let's go!</button>
</form>